# My Data Science Notebook

## Introduction

This notebook covers various aspects of data science, including data analysis, machine learning, and data visualization.

## Data Science Languages

- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

## Data Science Tools

| Tool Name        | Description                                |
|------------------|--------------------------------------------|
| Jupyter Notebook | Interactive computing and data analysis    |
| RStudio          | Integrated development environment for R    |
| Apache Spark     | Distributed computing framework             |
| TensorFlow       | Machine learning library by Google          |
| Tableau          | Data visualization and analytics platform   |

## Arithmetic Expression Examples and Objectives

Let's demonstrate some arithmetic expressions in the following code cells.

- Learn about data science languages, libraries, and tools.
- Understand basic arithmetic expressions in Python.

In [1]:
# Multiply and add numbers
a = 5
b = 10
product = a * b
sum = a + b

print("Product:", product)
print("Sum:", sum)

Product: 50
Sum: 15

In [2]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60

print("Hours:", hours)

Hours: 2.0

## Objectives

- Learn about data science languages, libraries, and tools.
- Understand basic arithmetic expressions in Python.
- Convert units of time.

**Author:** Futun Alqudayri